<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <style>
        body {text-align:center}
    </style>
</head>
<body>
    <h1>Blog Project</h1>
    <h3>category</h3>
        <li>
            <a href="{% url 'movie' %}">MOVIE</a>   -   {{ movie_cnt }}
        </li><br>
        <li>
            <a href="{% url 'drama' %}">DRAMA</a>   -   {{ drama_cnt }}
        </li><br>
        <li>
            <a href="{% url 'programming' %}">PROGRAMMING</a>   -   {{ programming_cnt }}
        </li><br>
    <a href="{% url 'new' %}">
    NEW POST
    </a>
</body>

</html>
   

               