{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">   
    <link href="{% static 'home.css' %}" rel="stylesheet">
</head>
<body>
    <div>
        <h2>할 일</h2>
        <p>{{ post.title }}</p>
    </div>
    <div>
        <h2>세부 사항</h2>
        <p>{{ post.content }}</p>
    </div>
        <div>
        <h2>작성일</h2>
        <p>{{ post.date_created }}</p>
    </div>
    <div>
        <h2>마감기한</h2>
        <p>{{ post.date_deadline }}</p>
    </div>
    <a href="{% url 'home' %}">홈으로</a>
    <a href="{% url 'edit' post.pk %}">수정하기</a>
    <a href="{% url 'delete' post.pk %}">삭제하기</a>
 </body>
</html>